.myButton {
  color: #ffffff;
  background-color: #d62822;
  font-size: 3.25rem;
  line-height: 1.5rem;
  padding: 3.5%;
  font-family: inherit;
  display: flex;
  justify-self: center;
  width: 50%;
}
.myButton:hover {
  background-color: #db4c3f;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
  padding-bottom: 1%;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1%;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1%;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 2% auto;
}
.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5% auto;
  justify-content: center;
  padding: 1%;
}
@media (max-width: 500px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 1%;
  }
}
.nav-container .logo {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 1% auto;
  background-color: wheat;
  border: solid 5px #db4c3f;
  padding: 2%;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
}
@media (max-width: 500px) {
  .nav-container .logo {
    display: flex;
    justify-self: center;
    margin: 1% auto;
    padding: 1%;
  }
}
.nav-container .logo img {
  display: flex;
  justify-self: center;
  margin: 5% auto;
  width: 100%;
  border-radius: 4px;
  border: solid 5px #db4c3f;
  box-shadow: 3px 3px 10px black;
}
@media (max-width: 500px) {
  .nav-container .logo img {
    display: flex;
    justify-self: center;
    margin: 2% auto;
    width: 100%;
    border-radius: 4px;
  }
}
.nav-container .logo h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1% auto;
  padding: 1%;
  width: 100%;
  color: #ffffff;
  border-radius: 4px;
  font-size: 2.5rem;
  background-color: #db4c3f;
  box-shadow: 3px 3px 10px black;
}
@media (max-width: 500px) {
  .nav-container .logo h1 {
    display: flex;
    justify-self: center;
    margin: 1% auto;
    padding: 1%;
    width: 100%;
    border-radius: 4px;
  }
}
.nav-container .brand {
  display: flex;
  justify-self: center;
  margin: 1% auto;
  padding: 1%;
  width: 90%;
  border-radius: 4px;
  font-size: 2.5rem;
  background-color: #db4c3f;
  box-shadow: 3px 3px 10px black;
}
@media (max-width: 500px) {
  .nav-container .brand {
    display: flex;
    justify-self: center;
    margin: 1% auto;
    padding: 1%;
    width: 100%;
    border-radius: 4px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #db4c3f;
  font-size: 1.5rem;
  width: 100%;
  margin: 2% auto;
}
.footer .call-out {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  justify-content: center;
  width: 95%;
  margin: 1% auto;
  padding: 1%;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
}
.footer .call-out h2 {
  color: #d62822;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
}
@media (max-width: 500px) {
  .footer .call-out {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer .call-out {
    display: flex;
    flex-direction: column;
  }
}
.footer h2 {
  color: #db4c3f;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  margin: 1% auto;
}
@media (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.footer .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 95%;
  background-color: wheat;
  border-radius: 4px;
  padding: 1%;
  margin: 1% auto;
  box-shadow: 3px 3px 10px black;
}
@media (max-width: 500px) {
  .footer .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.footer .col-1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1% auto;
  padding: 2%;
  background-color: wheat;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
  border: solid 5px #db4c3f;
}
.footer .col-1 .col-1 h2 {
  display: flex;
}
@media (max-width: 500px) {
  .footer .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1% auto;
    padding: 1%;
  }
}
@media (max-width: 768px) {
  .footer .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1% auto;
    padding: 1%;
  }
}
.footer .col-2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1% auto;
  padding: 2%;
  background-color: wheat;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
  border: solid 5px #db4c3f;
}
.footer .col-2 .col-2 h2 {
  display: flex;
}
@media (max-width: 500px) {
  .footer .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1% auto;
    padding: 1%;
  }
}
@media (max-width: 768px) {
  .footer .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1% auto;
    padding: 1%;
  }
}
.footer .col-3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1% auto;
  padding: 2%;
  background-color: wheat;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
  border: solid 5px #db4c3f;
}
.footer .col-3 .col-3 h2 {
  display: flex;
}
@media (max-width: 500px) {
  .footer .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1% auto;
    padding: 1%;
  }
}
@media (max-width: 768px) {
  .footer .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1% auto;
    padding: 1%;
  }
}
.footer #copyright {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1% auto;
  padding: 2%;
  color: #db4c3f;
  text-decoration: none;
}
.footer #copyright ul {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 1% auto;
  padding: 2%;
  justify-content: space-evenly;
  background-color: wheat;
  border-color: #db4c3f;
  box-shadow: 3px 3px 10px black;
  border: solid 5px #db4c3f;
  border-radius: 4px;
}
.footer #copyright ul li,
.footer #copyright ul a {
  text-decoration: none;
  color: #db4c3f;
}
.footer #copyright hover:a {
  color: white;
}
.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0% auto;
  padding: 1%;
  background-color: #db4c3f;
}
@media (max-width: 500px) {
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
  }
}
@media (max-width: 768px) {
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
  }
}
.page-container .main-header {
  display: flex;
  flex-direction: column;
}
.page-container .main-header .header-img {
  display: flex;
  width: 100%;
  margin: auto;
}
@media (max-width: 500px) {
  .page-container .main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
  }
}
@media (max-width: 768px) {
  .page-container .main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
  }
}
.page-container .button {
  display: flex;
  background-color: wheat;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
  margin: 4%;
}
.page-container .myButton {
  color: wheat;
  background-color: #d62822;
  display: flex;
  justify-self: center;
  width: 45%;
  margin: 5% auto;
  justify-content: center;
  text-transform: uppercase;
  border: solid 5px wheat;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
}
@media (max-width: 500px) {
  .page-container .myButton {
    display: flex;
    justify-self: center;
    margin: 2% auto;
    padding: 5%;
    width: auto;
    height: auto;
  }
}
.page-container .myButton:hover {
  background-color: wheat;
  color: #db4c3f;
}
.page-container .myButton p {
  display: flex;
  flex-direction: row;
  font-size: inherit;
  text-overflow: inherit;
  line-height: 1.5rem;
  padding: 2%;
  font-family: inherit;
  margin: 1% auto;
  width: 100%;
  justify-content: center;
}
@media (max-width: 500px) {
  .page-container .myButton p {
    display: flex;
    justify-self: center;
    margin: auto;
    padding: 1%;
  }
}
.page-container .content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: wheat;
  margin: 5% auto;
  width: 95%;
  font-size: 1.6rem;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
}
.page-container .content h2 {
  color: #db4c3f;
}
@media (max-width: 500px) {
  .page-container .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
    margin: 1% auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .page-container .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1% auto;
    width: 100%;
  }
}
.page-container .features {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1% auto;
  border: solid 5px #db4c3f;
  border-radius: 4px;
  padding: 2%;
  box-shadow: 3px 3px 10px black;
}
.page-container .features h2 {
  color: #db4c3f;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: auto;
}
@media (max-width: 500px) {
  .page-container .features {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    margin: 1% auto;
  }
}
.page-container .features img {
  display: flex;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .page-container .features img {
    display: flex;
    width: 100%;
    padding: 1%;
  }
}
.page-container .features:hover {
  background-color: #db4c3f;
  color: wheat;
}
.page-container .features:hover h2 {
  color: wheat;
}
.page-container .benefits {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1% auto;
  border: solid 5px #db4c3f;
  border-radius: 4px;
  padding: 2%;
  box-shadow: 3px 3px 10px black;
}
.page-container .benefits h2 {
  color: #db4c3f;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: auto;
}
@media (max-width: 500px) {
  .page-container .benefits {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    margin: 1% auto;
  }
}
.page-container .benefits img {
  display: flex;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .page-container .benefits img {
    display: flex;
    width: 100%;
    padding: 1%;
  }
}
.page-container .benefits:hover {
  background-color: #db4c3f;
  color: wheat;
}
.page-container .benefits:hover h2 {
  color: wheat;
}
.tabs {
  display: flex;
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: flex;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: flex;
}
.tabs .tabs-links {
  display: flex;
  background-color: #d62822;
}
.tabs .tabs-link {
  display: flex;
  padding: 20px 25px;
  font-size: 24px;
  background-color: #d62822;
  border-right: 1px solid white;
  color: white;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #db4c3f;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #d62822;
  background-color: white;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #dee0e3;
  color: #000000;
  font-family: 'Lato', sans-serif;
}
