.footer {
    width: 100%;
    background: @btn-secondary-gray;
      text-align: center;
      color: @lighter-font-color;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
  }


