.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: wheat;
  font-size: 1.5rem;
  width: 100%;

  .call-out {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1% auto;

    h2 {
      color: @primary-color;
      display: flex;
      flex-direction: column;
      justify-self: center;
      width: 90%;
      margin: auto;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
    }

    @media @tablet {
      display: flex;
      flex-direction: column;
    }
  }

  h2 {
    color: @secondary-color;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    margin: 1% auto;
  }

  @media @mobile {
    display: flex;
    flex-direction: column;
  }

  @media @tablet {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;

    @media @mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @media @tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .col-1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1% auto;
    padding: 1%;

    .col-1 h2 {
      display: flex;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 1% auto;
      padding: 1%;
    }

    @media @tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 1% auto;
      padding: 1%;
    }
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1% auto;
    padding: 1%;

    .col-2 h2 {
      display: flex;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 1% auto;
      padding: 1%;
    }

    @media @tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 1% auto;
      padding: 1%;
    }
  }

  .col-3 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1% auto;
    padding: 1%;

    .col-3 h2 {
      display: flex;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 1% auto;
      padding: 1%;
    }

    @media @tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 1% auto;
      padding: 1%;
    }
  }
}
