.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0% auto;
  padding: 1%;
  background-color: @secondary-color;

  @media @mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
  }

  @media @tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
  }

  .main-header {
    display: flex;
    flex-direction: column;

    .header-img {
      display: flex;
      width: 100%;
      margin: auto;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1%;
    }

    @media @tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1%;
    }
  }

  .button {
    display: flex;
    background-color: wheat;
    border-radius: 4px;
    box-shadow: 3px 3px 10px black;
    margin: 3%;
    padding: 1%;
  }

  .myButton {
    color: wheat;
    background-color: @primary-color;
    display: flex;
    justify-self: center;
    width: 45%;
    margin: 5% auto;
    justify-content: center;
    text-transform: uppercase;
    border: solid 5px wheat;
    border-radius: 4px;
    box-shadow: 3px 3px 10px black;

    @media @mobile {
      display: flex;
      justify-self: center;
      margin: 2% auto;
      padding: 5%;
      width: auto;
      height: auto;
    }
  }

  .myButton:hover {
    background-color: wheat;
    color: @secondary-color;
  }

  .myButton p {
    display: flex;
    flex-direction: row;
    font-size: inherit;
    text-overflow: inherit;
    line-height: 1.5rem;
    padding: 2%;
    font-family: inherit;
    margin: 1% auto;
    width: 100%;
    justify-content: center;

    @media @mobile {
      display: flex;
      justify-self: center;
      margin: auto;
      padding: 1%;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: wheat;
    margin: 1% auto;
    padding: 1%;
    width: 95%;
    font-size: 1.6rem;
    border-radius: 4px;
    box-shadow: 3px 3px 10px black;

    h2 {
      color: @secondary-color;
    }

    @media @mobile {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1%;
      justify-content: center;
      margin: 1% auto;
      width: 100%;
    }

    @media @tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 1% auto;
      width: 100%;
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 1% auto;
    border: solid 5px @secondary-color;
    border-radius: 4px;
    padding: 2%;
    box-shadow: 3px 3px 10px black;

    h2 {
      color: @secondary-color;
      display: flex;
      flex-direction: column;
      justify-self: center;
      margin: auto;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1%;
      margin: 1% auto;
    }
    img {
      display: flex;
      width: 100%;
      margin: 5% auto;

      @media @mobile {
        display: flex;
        width: 100%;
        padding: 1%;
      }
    }
  }

  .features:hover {
    background-color: @secondary-color;
    color: wheat;
    h2 {
      color: wheat;
    }
  }

  .benefits {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 1% auto;
    border: solid 5px @secondary-color;
    border-radius: 4px;
    padding: 2%;
    box-shadow: 3px 3px 10px black;

    h2 {
      color: @secondary-color;
      display: flex;
      flex-direction: column;
      justify-self: center;
      margin: auto;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1%;
      margin: 1% auto;
    }

    img {
      display: flex;
      width: 100%;
      margin: 5% auto;

      @media @mobile {
        display: flex;
        width: 100%;
        padding: 1%;
      }
    }
  }

  .benefits:hover {
    background-color: @secondary-color;
    color: wheat;
    h2 {
      color: wheat;
    }
  }
}
.call-out {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  justify-content: center;
  width: 95%;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;

  h2 {
    color: @primary-color;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    text-align: center;
  }

  @media @mobile {
    display: flex;
    flex-direction: column;
  }

  @media @tablet {
    display: flex;
    flex-direction: column;
  }
}
.call-out:hover {
  background-color: @secondary-color;
  color: wheat;
  h2 {
    color: wheat;
  }
}
