.page-container {
  display: flex;
  flex-direction: column;

  @media @mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
  }

  @media @tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
  }

  .main-header {
    display: flex;
    flex-direction: column;

    .header-img {
      display: flex;
      width: 100%;
      margin: 1% auto;
    }

    @media @mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1%;
    }

    @media @tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1%;
    }
  }

  .myButton {
    color: @btn-accent-color;
    background-color: @primary-color;
    display: flex;
    justify-self: center;
    width: 50%;
    margin: 2% auto;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);

    @media @mobile {
      display: flex;
      justify-self: center;
      margin: auto;
      padding: 5%;
      width: auto;
      height: auto;
    }
  }

  .myButton:hover {
    background-color: @secondary-color;
  }

  .myButton p {
    display: flex;
    flex-direction: row;
    font-size: inherit;
    text-overflow: inherit;
    line-height: 1.5rem;
    padding: 3.5%;
    font-family: inherit;
    margin: auto;
    width: 100%;
    justify-content: center;

    @media @mobile {
      display: flex;
      justify-self: center;
      margin: auto;
      padding: 1%;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 1% auto;
    width: 100%;

    @media @mobile {
      display: flex;
      flex-direction: column;
      padding: 1%;
      justify-content: center;
      margin: 1% auto;
      width: 100%;
    }

    @media @tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin: 1% auto;
      width: 100%;
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1% auto;

    @media @mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1%;
      margin: 1% auto;
    }
    img {
      display: flex;
      border-radius: 10px;

      @media @mobile {
        display: flex;
        width: 100%;
        padding: 1%;
      }
    }
  }

  .benefits {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1% auto;

    @media @mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1%;
      margin: 1% auto;
    }

    img {
      display: flex;
      border-radius: 10px;

      @media @mobile {
        display: flex;
        width: 100%;
        padding: 1%;
      }
    }
  }
 
}
