

.myButton {
    color: @btn-accent-color;
    background-color: @secondary-color;
    font-size: 3.25rem;
    line-height: 1.5rem;
    padding: 3.5%;
    border-radius: 5%;
    font-family: inherit;
    display: flex;
    width: 50%;
}

.myButton:hover {
    background-color: @primary-color;
}