// Navigation Styles
.nav-container {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 1%;
  
    @media @mobile {
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0px;
      margin: 0px;
      
    }

    .logo img {
      display: flex;
      justify-self: center;
      margin: auto;
      width: 100%;

      @media @mobile {
        display: flex;
        justify-self: center;
        margin: auto;
        padding: 1%;
        
      }

    }
  
    .main {
      display: flex;
      width: 100%;
  
      @media @mobile {
        flex-direction: column;
        align-items: center;
        padding: 1%;
        
      }
  
  
      nav {
        display: flex;
        width: 50%;
        margin: auto;
        font-family: "Lato";
        font-weight: 500;
  
        a {
          display: flex;
          justify-items: flex-end;
          margin: 0% auto;
          text-decoration: none;
          color: @font-color;
          font-size: 1.5rem;
        }
  
        @media @mobile {
          display: flex;
          align-items: baseline;
          width: 100%;
          
        }
      }
    }
  
  }
  