/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
}

/* body, input, textarea, select {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777;
    line-height: 1.65em;
    font-size: 15pt;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    /* text-transform: uppercase; */
    /* color: #888;
} */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0;
}

h2 {
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 0 1.5em 0;
    line-height: 1.75em;
}

h3 {
    font-size: 1em;
    letter-spacing: 2px;
    margin: 0 0 1.25em 0;
} */


/* Project Design Below */

.page-container {
    flex-flow: no-wrap;
}

.main-header {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;

}

img .logo {
    display: flex;
    width: 100%;
    margin: 1% auto;
}

.nav-container {
    display: flex;
    flex-direction: row;

}

.nav-container h1 {
    display: flex;
    flex-direction: row;
    margin: auto 1%;
    width: 100%;
    font-size: 2.5rem;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto 1%;
    width: 100%;
}

nav a {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    
}